<!-- Content
		============================================= -->
        <section id="content" style="clear: both">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="single-product">

                        <div class="product">

                            <div class="col_two_fifth">

                                <!-- Product Single - Gallery
								============================================= -->
                                <div class="product-image">
                                    <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                                        <div class="flexslider">
                                            <div class="slider-wrap" data-lightbox="gallery">
                                                <div class="slide" data-thumb="../images/product/{{data.id}}/1.jpg">
                                                    <a href="../images/product/{{data.id}}/1.jpg"  data-lightbox="gallery-item"><img src="../images/product/{{data.id}}/1.jpg" alt="Pink Printed Dress"></a>
                                                </div>
                                                <div class="slide" data-thumb="../images/product/{{data.id}}/2.jpg">
                                                    <a href="../images/product/{{data.id}}/2.jpg"  data-lightbox="gallery-item"><img src="../images/product/{{data.id}}/2.jpg" alt="Pink Printed Dress"></a>
                                                </div>
                                                <div class="slide" data-thumb="../images/product/{{data.id}}/3.jpg">
                                                    <a href="../images/product/{{data.id}}/3.jpg"  data-lightbox="gallery-item"><img src="../images/product/{{data.id}}/3.jpg" alt="Pink Printed Dress"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Single - Gallery End -->

                            </div>

                            <div class="col_two_fifth product-desc">

                                <!-- Product Single - Price
								============================================= -->
                                <!-- Product Single - Price End -->

                                <!-- Product Single - Rating
								============================================= -->
                                <div class="product-rating">
                                    <a href="#"><i class="icon-heart"></i></a>
                                </div>
                                <!-- Product Single - Rating End -->

                                <div class="clear"></div>
                                <div class="line"><h2>{{data.name}}</h2></div>

                                <!-- Product Single - Short Description
                                ============================================= -->
                                <h4></h4>
                                <div>Start Price:{{data.price_start}}</div>
                                <div>End Price:{{data.price_end}}</div>
                                <div>Step:{{data.step}}</div>
                                <div>Buy now:{{data.buy_now}} </div>
                                <div>Post date: {{data.created_at}}</div>
                                <div>End time:   </div>
                                <!-- Product Single - Short Description End -->

                                <!-- Product Single - Meta
								============================================= -->
                                <div class="card product-meta mt-5">
                                    <div class="card-body">
                                        <span class="posted_in">Category: <a href="#" rel="tag">Dress</a>.</span>
                                    </div>
                                </div>
                                <!-- Product Single - Meta End -->
                                <!-- Product Single - Share
								============================================= -->
                                <div class="si-share noborder clearfix">
                                    <span>Share:</span>
                                    <div>
                                        <a href="#" class="social-icon si-borderless si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-pinterest">
                                            <i class="icon-pinterest"></i>
                                            <i class="icon-pinterest"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-rss">
                                            <i class="icon-rss"></i>
                                            <i class="icon-rss"></i>
                                        </a>
                                        <a href="#" class="social-icon si-borderless si-email3">
                                            <i class="icon-email3"></i>
                                            <i class="icon-email3"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- Product Single - Share End -->

                            </div>

                            <div class="col_full nobottommargin">

                                <div class="tabs clearfix nobottommargin" id="tab-1">

                                    <ul class="tab-nav clearfix">
                                        <li><a href="#tabs-1"><i class="icon-align-justify2"></i><span class="d-none d-md-inline-block"> Description</span></a></li>
                                        <li><a href="#tabs-2"><i class="icon-info-sign"></i><span class="d-none d-md-inline-block"> Additional Information</span></a></li>
                                        <li><a href="#tabs-4"><i class="icon-user"></i><span class="d-none d-md-inline-block">Auction List (1)</span></a></li>
                                    </ul>

                                    <div class="tab-container">

                                        <div class="tab-content clearfix" id="tabs-1">
                                            <h3><b>Description</b></h3>
                                            <p>Pink printed dress, woven, round neck with a keyhole and buttoned closure at the back, sleeveless, concealed zip up at left side seam, belt loops along waist with slight gathers beneath, brand appliqu?? above
                                                left front hem, has an attached lining.</p>
                                            Comes with a white, slim synthetic belt that has a tang clasp.
                                        </div>
                                        <div class="tab-content clearfix" id="tabs-4">

                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <h4 class="card-title">Contact Emplyee list</h4>
                                                            <h6 class="card-subtitle"></h6>
                                                            <div class="table-responsive">
                                                                <table id="auction-list" class="table m-t-30 table-hover contact-list" data-page-size="10">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Time</th>
                                                                            <th>Bidder</th>
                                                                            <th>Price</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>10/11/2019 10:43</td>
                                                                            <td>*****Son</td>
                                                                            <td>10,000,000</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-danger delete" data-toggle="tooltip" data-original-title="Delete">Delete</button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>10/11/2019 10:43</td>
                                                                            <td>*****Hai</td>
                                                                            <td>9,000,000</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-danger delete" data-toggle="tooltip" data-original-title="Delete">Delete</button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>10/11/2019 10:43</td>
                                                                            <td>*****Phuc</td>
                                                                            <td>8,000,000</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-danger delete" data-toggle="tooltip" data-original-title="Delete">Delete</button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Column -->
                                                    
                                                    <!-- Column -->
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="line"></div>

                </div>

            </div>

        </section>
    <script>
    $(document).ready(function(){
        $(".delete").on('click',function(){
            $(this).parents('tr').first().remove();
     });

    });
    </script>
