
        <!--body-->
        <div class="container">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="2000">
                        <img src="./images/shop/sales-1.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                        <img src="./images/shop/sales-1.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item" data-interval="2000">
                        <img src="./images/shop/sales-1.jpg" class="d-block w-100">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="container my-5" id="about-to-end">
            <h3 class="text-warning">Sắp kết thúc: </h3>
            <div class="row justify-content-center justify-content-around">
                <div class="card border border-warning">
                    <a href="Product.html"><img src="./images/shop/dress/1.jpg" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <div>
                                <span class="text-uppercase font-weight-bold">Váy xịn</span>
                            </div>
                            <div class="price my-2"><span>Current price: </span><span class="current-price font-weight-bold text-danger">1000$</span></div>
                            <div class="remaining-time"><span class="time">05:00:00</span></div>
                        </div>
                    </a>
                </div>
                <div class="card border border-warning">
                    <a href="Product.html"><img src="./images/shop/shoes/1.jpg" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <div>
                                <span class="text-uppercase font-weight-bold">Giày xịn</span>
                            </div>
                            <div class="price my-2"><span>Current price: </span><span class="current-price font-weight-bold text-danger">1000$</span></div>
                            <div class="remaining-time"><span class="time">05:00:00</span></div>
                        </div>
                    </a>
                </div>
                <div class="card border border-warning">
                    <a href="Product.html"><img src="./images/shop/pants/1.jpg" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <div>
                                <span class="text-uppercase font-weight-bold">Quần xịn</span>
                            </div>
                            <div class="price my-2"><span>Current price: </span><span class="current-price font-weight-bold text-danger">1000$</span></div>
                            <div class="remaining-time"><span class="time">05:00:00</span></div>
                        </div>
                    </a>
                </div>
                <div class="card border border-warning">
                    <a href="Product.html"><img src="./images/shop/dress/2.jpg" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <div>
                                <span class="text-uppercase font-weight-bold">Váy xịn hơn</span>
                            </div>
                            <div class="price my-2"><span>Current price: </span><span class="current-price font-weight-bold text-danger">1000$</span></div>
                            <div class="remaining-time"><span class="time">05:00:00</span></div>
                        </div>
                    </a>
                </div>
                <div class="card border border-warning">
                    <a href="Product.html"><img src="./images/shop/shoes/2.jpg" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <div>
                                <span class="text-uppercase font-weight-bold">Giày xịn hơn</span>
                            </div>
                            <div class="price my-2"><span>Current price: </span><span class="current-price font-weight-bold text-danger">1000$</span></div>
                            <div class="remaining-time"><span class="time">00:00:5</span></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container my-5" id="about-to-end">
            <h3 class="text-primary">Top sản phẩm có nhiều lượt ra giá nhất</h3>
            <div class="row justify-content-center justify-content-around">
                {{#each topBidTimes}}
                    <div class="card border border-primary">
                    <a href="/product/{{id}}"><img src="./images/product/{{id}}/1.jpg" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <div>
                                <span class="text-uppercase font-weight-bold">{{name}}</span>
                            </div>
                            <div class="price my-2"><span>Current price: </span><span class="current-price font-weight-bold text-danger">{{current_price}}</span></div>
                            <div class="remaining-time"><span class="time">{{remaining_time}}</span></div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="container my-5" id="about-to-end">
            <h3 class="text-success">Top sản phẩm có giá cao nhất: </h3>
            <div class="row justify-content-center justify-content-around">
                <div class="card border border-success">
                    <a href="product.html"><img src="./images/shop/dress/1.jpg" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <div>
                                <span class="text-uppercase font-weight-bold">Váy xịn</span>
                            </div>
                            <div class="price my-2"><span>Current price: </span><span class="current-price font-weight-bold text-danger">1000$</span></div>
                            <div class="remaining-time"><span class="time">05:00:00</span></div>
                        </div>
                    </a>
                </div>
                <div class="card border border-success">
                    <a href="Product.html"><img src="./images/shop/shoes/1.jpg" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <div>
                                <span class="text-uppercase font-weight-bold">Giày xịn</span>
                            </div>
                            <div class="price my-2"><span>Current price: </span><span class="current-price font-weight-bold text-danger">1000$</span></div>
                            <div class="remaining-time"><span class="time">05:00:00</span></div>
                        </div>
                    </a>
                </div>
                <div class="card border border-success">
                    <a href="Product.html"><img src="./images/shop/pants/1.jpg" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <div>
                                <span class="text-uppercase font-weight-bold">Quần xịn</span>
                            </div>
                            <div class="price my-2"><span>Current price: </span><span class="current-price font-weight-bold text-danger">1000$</span></div>
                            <div class="remaining-time"><span class="time">05:00:00</span></div>
                        </div>
                    </a>
                </div>
                <div class="card border border-success">
                    <a href="Product.html"><img src="./images/shop/dress/2.jpg" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <div>
                                <span class="text-uppercase font-weight-bold">Váy xịn hơn</span>
                            </div>
                            <div class="price my-2"><span>Current price: </span><span class="current-price font-weight-bold text-danger">1000$</span></div>
                            <div class="remaining-time"><span class="time">05:00:00</span></div>
                        </div>
                    </a>
                </div>
                <div class="card border border-success">
                    <a href="Product.html"><img src="./images/shop/shoes/2.jpg" class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <div>
                                <span class="text-uppercase font-weight-bold">Giày xịn hơn</span>
                            </div>
                            <div class="price my-2"><span>Current price: </span><span class="current-price font-weight-bold text-danger">1000$</span></div>
                            <div class="remaining-time"><span class="time">00:00:5</span></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--end body-->
