<section id="page-title">
    <div class="container clearfix">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Wishlist</li>
        </ol>
    </div>
</section>      
        <!-- Content
		============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <div class="table-responsive">
                        <table class="table cart">
                            <thead>
                                <tr>
                                    <th class="cart-product-remove">&nbsp;</th>
                                    <th class="cart-product-thumbnail">&nbsp;</th>
                                    <th class="cart-product-price">ID</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="cart-product-quantity">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each list}}
                                <tr class="cart_item">
                                    <td class="cart-product-remove">
                                        <a href="#" class="remove" id="delete" title="Remove this item"><i class="icon-trash2"></i></a>
                                    </td>

                                    <td class="cart-product-thumbnail">
                                        <a href="#"><img width="64" height="64" src="/images/product/{{product_id}}/1.jpg" alt="Pink Printed Dress"></a>
                                    </td>
                                    <td class="cart-product-price">
                                        {{product_id}}
                                    </td>
                                    <td class="cart-product-name">
                                        <a href="/bidder/product/{{product_id}}">{{name}}</a>
                                    </td>

                                    <td class="cart-product-price">
                                        <span class="amount">{{price_start}}</span>
                                    </td>

                                </tr>
                                {{/each}}
                            </tbody>

                        </table>
                    </div>

                </div>

            </div>

        </section>
        <!-- #content end -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
    $('#delete').on("click", function(){
        var tr =$(this).parents('tr').first();
        var child= tr.children();
        var id=parseInt(child[2].innerHTML);
        $.post('/bidder/wishlist/delete', {id:id});
        tr.remove();
    });
</script>